body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(23, 22, 37) !important;
    color: white !important;
    line-height: 2rem;
}

button {
    font-family: 'Source Sans Pro', sans-serif;
}

input {
    font-family: 'Source Sans Pro', sans-serif;
}

.route_list {
    display: none;
    height: 0;
    transition: ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.route_list.active {
    height: auto;
    display: table;
}

.item-interactions {
    display: flex;
    height: 100%;
    align-items: center;
}

@media (min-width: 992px) {
    .item-interactions {
        visibility: hidden;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0px;
        align-items: center;
        justify-content: end;
    }
}


.list-group-item:hover > .item-interactions {
    visibility: visible;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.themeLabel {
    width: 35px;
    height: 20px;
    background-color:rgb(23, 22, 37);
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    position: relative;
    transition: all 0.1s linear;
}

#themeToggle:focus + .themeLabel {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.ball {
    width: 16px;
    height: 16px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: all 0.1s linear;
}

/*  target the element after the label*/
.checkbox:checked + .themeLabel .ball{
    transform: translateX(15px);
    background-color: rgb(23, 22, 37);
}

.checkbox:checked + .themeLabel{
    background-color: rgb(241, 233, 109);
}

/* For loading icon */
.loader {
    display: inline-block;
    position: relative;
    width: 65px;
    height: 30px;
}

.loader div {
    display: inline-block;
    position: absolute;
    width: 8px;
    border-radius: 4px;
    background: black;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    left: 5px;
    animation-delay: -0.24s;
}

.loader div:nth-child(2) {
    left: 20px;
    animation-delay: -0.12s;
}

.loader div:nth-child(3) {
    left: 35px;
    animation-delay: 0;
}

.loader div:nth-child(4) {
    left: 50px;
    animation-delay: 0.12s;
}

@keyframes loader {
    0%, 100% {
        top: 5px;
        height: 8px;
        opacity: 0.6;
    }
    10%, 60% {
        height: 14px;
    }
    50% {
        top: 20px;
        height: 8px;
        opacity: 1;
    }
}

/* A bunch of dark theme overrides */
.list-group-item {
    background-color: rgb(23, 22, 37) !important;
    color: white !important;
    border: 1px solid rgba(226, 226, 226, 0.125);
}

.form-control {
    background-color: rgb(23, 22, 37) !important;
    color: white !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: rgb(47, 45, 77) !important;
}

.table {
    background-color: rgb(23, 22, 37) !important;
    color: white !important;
}

tr {
    background-color: rgb(23, 22, 37) !important;
    color: white !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgb(47, 45, 77) !important;
}

